{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content">
    <div style="display: inline-flex; justify-content: space-between; flex-wrap: wrap">
        <div style="margin-left: auto; margin-right: auto">
            <img alt="Profile picture" src="./assets/profile.png" style="width: auto; max-width: 200px; max-height: 200px; height: auto;"/>
        </div>
        <div style="margin-left: auto; margin-right: auto">
            <h2 style="max-width: 400px; padding: 0.67em; text-align: center">Hi, I'm <span style="color: var(--color-aurora-green)">Anthony</span> 👋 <br/>
                I am a <span style="color: var(--color-aurora-green)">Software Engineer</span>
                currently working at <span style="color: var(--color-aurora-green)">Enedis</span></h2>
        </div>
    </div>
    <hr/>
    <h2 class="site-title">Making <span style="color: var(--color-frost01)">mission-driven</span> software. 🚀</h2>
    <div style="margin-left: auto; margin-right: auto">
        <h2>Building the software of tomorrow.</h2>
        <p style="text-align: justify;">
            Anthony is a mission-driven software engineer. <br/>
            Currently working as a SWE at Enedis, France.<br/><br/>

            My mission is to provide value to people and make their lives easier with greater software.<br/>
            Using field-tested technologies and choosing the right tools for the job is what I'm good at.<br/><br/>

            I'm always eager to discover new fields and technologies.<br/>
            I am in a perpetual mindset of continuous improvement and innovation, disrupting the standards to step up overall growth is my goal.
        </p>
        <div style="margin-top: 1.67em">
            <a href="https://rsm.io/ngyanthony">
                <button class="button is-primary" style="font-size: 2.5rem">
                    Read my resume
                </button>
            </a>
        </div>
    </div>
</div>


{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed{{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>
    </div>
</main>
